<div class="calendar-container">


  <div class="custom-dropdown">
    <select id="appointment-selection" class="dropdown-select" (change)="onSelectChange($event)">
      <option value="ALL">Dhaka Medical College and Hospital </option>
      <option value="COMPLETED">Square Hospital</option>
      <option value="PEINDING">Bangabandhu Sheikh Mujib Medical University</option>
      <option value="TEST">Labaid Specialized Hospital</option>
    </select>
  </div>
  <button class="btn btn-lg btn-outline-primary" (click)="openEditNoticeModal()">Launch demo modal</button>

  <div class="notice" [innerHtml]="date">
  </div>

  <div class="calender">
    <div class="calendar-header">
      <h2>{{ monthData().month }} {{ monthData().year }}</h2>
    </div>


    <table class="calendar-table">
      <thead>
        <tr>
          <th *ngFor="let day of daysOfWeek" class="day-header">
            {{ day }}
          </th>
        </tr>
      </thead>

      <tbody>
        @for (week of monthData().weeksDay; track $index) {

        <tr>
          <ng-container *ngTemplateOutlet="dayTemplate; context: { week: week }"></ng-container>
        </tr>
        }
      </tbody>
    </table>
  </div>



</div>




<ng-template #dayTemplate let-week="week">

  <ng-container *ngFor="let day of week; let i = index">

    <td class="week-day">
      <div routerLink="/dr-prescription">
        <div class="date" *ngIf="day.date !== 0">{{ day.date }}</div>
        <div class="event" *ngIf="day.date !== 0">
          <span>{{ day.event }}</span>
        </div>
      </div>


      <div class="date" *ngIf="day.date === 0"></div>
    </td>
  </ng-container>
</ng-template>

