<!-- user-list.component.html -->
<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <div class="row g-4"> 
  @for (user of users; track user.name) {

      <!-- user-list.component.html -->
 
          <div class="col-12 col-md-6 col-lg-4" >
            <div class="card h-100 shadow-sm user-card">
        
              <div class="card-body d-flex gap-3 align-items-start">
                <img [src]="user.image" alt="User" class="user-img" />
                <div class="flex-grow-1">
                  <h5 class="card-title mb-1">{{ user.name }}</h5>
                  <p class="mb-1"><strong>Age:</strong> {{ user.age }}</p>
                  <p class="mb-1"><strong>Address:</strong> {{ user.address }}</p>
                  <p class="text-muted small mb-0"><strong>Last:</strong> {{ user.lastAppointment | date:'medium' }}</p>
                </div>
              </div>
        
              <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-primary">Details</button>
                <button class="btn btn-sm btn-danger">Remove</button>
              </div>
        
            </div>
          </div>}
        </div>
       
  
    
  </div>
  