<div class="appoitment">
    
    <div class="w-full align-items-center  d-flex justify-content-between">
        <h4>Appoitment</h4>


        <div class="custom-dropdown">
            <select id="appointment-selection" class="dropdown-select" (change)="onSelectChange($event)">
               <option value="ALL">Dhaka Medical College and Hospital </option>
               <option value="COMPLETED">Square Hospital</option>
             <option value="PEINDING">Bangabandhu Sheikh Mujib Medical University</option>
             <option value="TEST">Labaid Specialized Hospital</option>
           </select>
         </div>
      
         

        <ul class="d-flex appoitment-filter-btn align-items-center">
            <div (click)="change_filter_status('PENDING')" [className]="status()==='PENDING'?'active':''">Pending</div>
            <div (click)="change_filter_status('ACTIVE')" [className]="status()==='ACTIVE'?'active':''">Active</div>
            <div (click)="change_filter_status('ALL')" [className]="status()==='ALL'?'active':''">ALL</div>
        </ul>
    </div>

    <div>
        <div class="patient-list-container">
           
            <table class="patient-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <td>Address</td>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Status</th>
                  <th>Date of Admission</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use patients() to reactively render the list -->
                @for (patient of patients(); track patient.id) {
                <tr >
                  <td>{{ patient.id }}</td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.age }}</td>
                  <td>{{ patient.gender }}</td>
                  <td><div class="status">{{ patient.disease }}</div></td>
                  <td>{{ patient.dateOfAdmission  }}</td>
                  <td><button>Cancel</button><button>Active</button></td>
                </tr>
            }
              </tbody>
            </table>
          </div>
          
          
    </div>
</div>