<div class="content">
  <div class="card">
    <div class="form-section">
      <div class="form-content">
        <h2 class="title">Login</h2>
        <p class="sub-title">Enter your credentials</p>

        <form (submit)="onLogin()">

          <div class="form-group">
            <div class="label"><label for="username">Username</label></div>
            <input type="text" id="username" name="username" required />
          </div>
  
          <div class="form-group">
            <div class="label"> <label for="password">Password</label></div>
            <input type="password" id="password" name="password" required />
          </div>
  
          <div class="checkbox-container">
            <input type="checkbox" id="rememberMe" name="rememberMe" />
            <label for="rememberMe">Remember me</label>
          </div>
  
          <div class="button-row">
            <button type="submit" class="login-btn">Login</button>
            <button type="button" class="register-btn" (click)="onRegister()">Register</button>
          </div>
        </form>
      </div>
      
 
    </div>
  </div>
</div>