@use 'bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} 
.app-pr-bg{
    background-color: rgb(18,63,104);
}
/* Importing Bootstrap SCSS file. */

